<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>305977578392-ombcm8tg3hsoda75haatf8csm4ml1hea.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.305977578392-ombcm8tg3hsoda75haatf8csm4ml1hea</string>
	<key>API_KEY</key>
	<string>AIzaSyDhqkZgDNujlet_XS_b6ZLgNuoFgIU1XzU</string>
	<key>GCM_SENDER_ID</key>
	<string>305977578392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatzap</string>
	<key>PROJECT_ID</key>
	<string>whatzap-48a4c</string>
	<key>STORAGE_BUCKET</key>
	<string>whatzap-48a4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305977578392:ios:b4f2d1d0f5dc6433c951ed</string>
</dict>
</plist>